---
layout: archive
title: "Papers"
permalink: /papers/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

<h2>Journal Articles</h2><hr />

<div class="wordwrap">
  Landeros, J.A., Kirk, M.S., Arge, C.N., Boucheron, L.E., Zhang, J., 
  Uritsky, V.M., Grajeda, J.A., and Dupertuis M. 
  Magnetic Field-Constrained Ensemble Image Segmentation of Coronal Holes in 
  Chromospheric Observations. Sol Phys 300, 10 (2025). 
  <a href="https://doi.org/10.1007/s11207-024-02416-6">
    https://doi.org/10.1007/s11207-024-02416-6
  </a>.
</div>

<h2>Preprints</h2><hr />

<div class="wordwrap">
  Grajeda, J.A., Boucheron, L.E., Kirk, M.S., Leisner, A., Arge, C.N., 
  and Landeros, J.A. 
  Incorporating Magnetic Field Characteristics into EUV-Based Automated 
  Segmentation of Coronal Holes. arXiv preprint (2025). 
  <a href="https://doi.org/10.48550/arXiv.2501.13211">
    https://doi.org/10.48550/arXiv.2501.13211
  </a>.
</div>
